.emi-options{
    border: 1px solid red;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.emi-options__headers{
    width: 50%;
    margin: 0 auto;
}

.emi-options__title{
    color: #323232;
    text-align: center;
    margin-top: 16px;
}

.emi__header{
    background: #F9F9F9 !important;
}

.emi__header--details{
    color: #323232;
    text-align: right;
    
}
.emi__text{
    opacity: 0.6;
    margin-top: 10px;
    font-weight: 400;
}
.number{
    display: flex;
}
.btn__css__emi{
    text-align: center;
    margin-top: 15px;
}

.cancel__transaction{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
a{
    color: black;
    opacity: 0.6;
}